<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript" src="http://eap.liwill.com//content/scripts/jquery.js"></script>
</head>
<body>
<style>
#abc{width:200px;height:200px;}

</style>
<script type="text/javascript">
$(function(){

	function bb(id){
	
		alert($('#'+id).width())
		}		
	bb('abc')
})
</script>
<div id="abc"></div>
</body>
</html>
