/*
copyright 2010, liwill inc.

description: ¿ò¼ÜÒ³ÑùÊ½
	 author: sky
 	   date: 2010-10-15
    version: 1.0
*/

body { min-width: 640px; }
#header { background: url(/content/images/bg2.gif) repeat-x; height: 77px; }
#header h1 { padding: 15px; background: url(/content/images/banner2.gif) no-repeat right 0; }
#header .usertip { color: #666; font-size: 12px; }
#header .usertip a { color: #09C; font-size: 12px; }
#continer { border: 1px solid #AAC7DD; bottom: 3px; left: 3px; overflow: hidden; position: fixed; right: 3px; top: 77px; }
#continer #siderbar { border-right: 1px solid #AAC7DD; bottom: 0; left: 0; position: absolute; top: 0; width: 186px; }
#continer #siderbar .subnav { border-top: 1px solid #BBD2E3; bottom: 0; position: absolute; width: 100%; }
#continer #siderbar .subnav h3 { background: url(/content/images/u_bg_x.png) repeat-x 0 -1px; font-size: 14px; font-weight: normal; }
#continer #siderbar .subnav h3.current { background: url(/content/images/u_bg_x.png) repeat-x 0 -37px; font-weight: bold; padding: 0; }
#continer #siderbar .subnav h3 a { height: 34px; line-height: 34px; margin: 0; padding-left: 40px; position: relative; display: block; overflow: hidden; white-space: nowrap; color: #2D52A5; text-decoration: none; }
#continer #siderbar .subnav h3 i { height: 25px; left: 6px; overflow: hidden; position: absolute; top: 4px; width: 25px; }
#continer #siderbar .subnav h3 b { background: url(/content/images/current.gif) no-repeat; display: none; height: 13px; overflow: hidden; position: absolute; right: 9px; top: 11px; width: 7px; }
#continer #siderbar .subnav h3.current b { display: inline; }
#continer #siderbar h3.title { background: url(/content/images/u_bg_x.png) repeat-x 0 -256px; height: 34px; line-height: 34px; text-indent: 15px; font-weight: bold; padding: 0; font-size: 14px; }
#continer #siderbar .menu { background: #FAFCFE; bottom: 169px; position: absolute; top: 34px; width: 100%; overflow: auto; padding: 5px 0; }
#continer #siderbar .menu a { color: #2D52A5; height: 15px; line-height: 15px; padding: 5px 0 10px 20px; display: block; overflow: hidden; white-space: nowrap; text-decoration: none; font-size: 14px; }
#continer #siderbar .menu a:hover { background: #E8F3FE; }
#continer #siderbar .menu a.selected { background: #D0E4FB; color: #000; }
#continer #siderbar .menu a i { display: inline-block; height: 16px; overflow: hidden; vertical-align: middle; width: 16px; margin-right: 8px; }
#content { height: 100%; background: none repeat scroll 0 0 #FFFFFF; border-left: 1px solid #AAC7DD; bottom: 0; left: 190px; position: absolute; right: 0; top: 0; }

#path { background: url(/content/images/u_bg_x.png) repeat-x 0 -1px; border-bottom: 1px solid #D8E9FB; color: #808080; height: 24px; line-height: 25px; overflow: hidden; padding-left: 10px; top: 0; }

#bottom { background: url(/content/images/u_bg_x.png) repeat-x 0 -73px; border: 0 none; bottom: 0; height: 41px; top: auto; z-index: 100; color: #2D52A5; left: 0; overflow: hidden; position: absolute; right: 0; white-space: nowrap; line-height: 41px; }
#bottom a { text-decoration: none; color: #2D52A5; }
#bottom .fr { color: #808080; font-size: 11px; }

.right_bottom_tip { background: #b80606; position: absolute; padding: 0 5px 5px; right: 6px; bottom: 6px; width: 240px; display: none; }
.right_bottom_tip h2 { background: #b80606 url(/content/images/icons.png) no-repeat 0px -140px; height: 33px; }
.right_bottom_tip h2 a { float: right; width: 16px; height: 16px; margin: 7px 0 0 5px; line-height: 10; overflow: hidden; }
.right_bottom_tip h2 a.close { background: url(/content/images/icons.png) no-repeat -100px -120px; display: none; }
.right_bottom_tip h2 a.close:hover { background: url(/content/images/icons.png) no-repeat -80px -120px; }
.right_bottom_tip .con { background: #FFF; height: 100%; padding: 5px; font-size: 14px; }
.right_bottom_tip .con .action { font-size: 12px; }
.right_bottom_tip .con .action a { color: #036; text-decoration: none; }



