<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title - 踏骐销售管理系统 </title>
    <script src="/content/scripts/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/content/styles/base.css" />
    <link rel="stylesheet" type="text/css" href="/content/styles/frame.css" />
    <link rel="stylesheet" type="text/css" href="/content/styles/icon.css" />
    <link rel="stylesheet" type="text/css" href="/content/styles/common.css" />
    <script type="text/javascript" src="/content/Scripts/jquery.tip.js"></script>
    <script type="text/javascript" src="/content/scripts/frame.js"></script>
    <script src="/Content/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <link href="/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
