<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <appSettings>
    <add key="DalProvider" value="Zippy.Data.EnterpriseLibrary.SqlServer.SqlDalProvider, Zippy.Data.EnterpriseLibrary" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="DBName" value="EAP"/>
  </appSettings>
  <connectionStrings>
    <add name="Conn_Local" providerName="System.Data.SqlClient" connectionString="Password=zhwell;User ID=sa;server=.\SQLEXPRESS;database=EAP;Trusted_Connection=false" />
    <add name="Conn_Test" providerName="System.Data.SqlClient" connectionString="Password=zhwell;User ID=sa;server=.\SQLEXPRESS;database=EAP_Test;Trusted_Connection=false" />
    <add name="Conn_Express" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EAP.mdf;Integrated Security=True;User Instance=True" />

  </connectionStrings>
  <dataConfiguration defaultDatabase="Conn_Local" />
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <!--<customErrors defaultRedirect="/error/e404" mode="On" redirectMode="ResponseRedirect">
      <error redirect="/error/e404" statusCode="404" />
    </customErrors>-->

    <pages>
      <controls>
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error/e404" responseMode="ExecuteURL" />
    </httpErrors>-->
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

